<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SegonOJ - 主页</title>
    <link rel="stylesheet" type="text/css" href="/static/general/css/theme-SegonOJ-v1.0.0.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/general/markdown/markdown-palettes.css">
    <script src="/static/general/markdown/markdown-palettes.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
        integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
        integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    { left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                    { left: '\\(', right: '\\)', display: false },
                    { left: '\\[', right: '\\]', display: true },
                    { left: "\\begin{equation}", right: "\\end{equation}", display: true },
                    { left: "\\begin{align}", right: "\\end{align}", display: true },
                    { left: "\\begin{alignat}", right: "\\end{alignat}", display: true },
                    { left: "\\begin{gather}", right: "\\end{gather}", display: true },
                    { left: "\\begin{CD}", right: "\\end{CD}", display: true },
                    { left: "\\[", right: "\\]", display: true }
                ],
                // • rendering keys, e.g.:
                throwOnError: false
            });
        });
    </script>
</head>

<body>
    <div class="app">
        <div>
            <nav style="background-color: #fff; width: 100%;">
                <div class="logo-long">
                    <span>
                        <a href="/">
                            <img src="/static/general/img/logo-long.png" alt="SegonOJ-Logo" height="72" width="221">
                        </a>

                    </span>
                </div>
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problem.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problemset.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/ranks.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/discuss.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/app.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if t_is_login %}
                <div class="user-info">
                    <span class="sgoj-{{t_usercolor}}">{{ t_username }}</span>
                    {% if t_userhavebadge == True %}
                    <span class="badge sgoj-{{t_usercolor}}">&nbsp;{{ t_userbadge }}&nbsp;</span>
                    {% endif %}
                </div>
                {% else %}
                <div class="user-info">
                    <a href="/login">登录</a>
                    &nbsp;/&nbsp;
                    <a href="/register">注册</a>
                </div>
                {% endif %}



            </nav>
        </div>
        <div class="main-container">

            <div class="app-main">
                <div class="index-content">

                    <div class="mod" style="display: inline-block; width:75%;">
                        <span style="font-size:36px;">讨论</span> / Discuss
                        <br>
                        <hr>
                        {% for item in t_discuss_list %}
                        <div>
                            <div style="display: inline-block;max-width: 120px;">
                                <img width="50px" height="50px"
                                    style="border-radius: 15px;box-shadow: 5px 5px 10px #ccc;display: inline-block;"
                                    src="/static/upload/avater/1.png">
                                <span>
                                    <div class="user-info" style="font-size:18px;">
                                        <span class="sgoj-{{item.owner.color}}">{{ item.owner.username }}</span>
                                        {% if item.owner.have_badge == 1 %}&nbsp;
                                        <span class="badge sgoj-{{item.owner.color}}">
                                            {{ item.owner.userbadge }}</span>
                                        {% endif %}
                                    </div>
                                </span>
                                <br>
                                {% if item.sticky == 1 %}<span class="badge sgoj-red"
                                    style="font-size: 18px;">置顶</span>&nbsp;{% endif %}<span
                                    class="discuss-info">{{item.comments}}条回复</span>
                            </div>

                            <div style="display: inline-block; margin-left: 20%;vertical-align: top;margin-top: 12px;">
                                <a href="/discuss/{{item.id}}">{{ item.title }}</a>
                                <br>
                                <span class="discuss-info">In&nbsp;<a>站务版</a>&nbsp;@{{ item.time }}</span>
                            </div>

                            <div style="display: inline-block; float: right;vertical-align: top;margin-top: 12px;">
                                {% if item.comments == 0 %}
                                <span class="discuss-info">暂无回复</span>
                                {% else %}

                                <span class="discuss-info">
                                    最新回复：
                                    <div class="user-info" style="font-size:10px;">
                                        <span class="sgoj-{{item.lastcommenter.color}}">
                                            {{ item.lastcommenter.username }}</span>
                                        {% if item.lastcommenter.have_badge == 1%}
                                        &nbsp;<span class="badge {{item.lastcommenter.color}}">
                                            {{ item.lastcommenter.userbadge }}</span>
                                        {% endif %}
                                    </div>
                                </span>
                                <br>
                                <span class="discuss-info">@{{item.lastcommenttime}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="mod" style="display: inline-block; float: right;">
                        <span>进入版块</span>
                        <br>
                        <br>
                        <a class="button">站务版</a>&nbsp;<a class="button">题目总版</a>
                        <br><br>
                        <a class="button">学术版</a>&nbsp;<a class="button">划水版</a>
                        <br><br>
                        <a class="button">反馈版</a>
                    </div>
                    {% if t_canpost == 1 %}
                    <div class="mod"  style="display: inline-block; width:75%;">
                        <span style="font-size: 36px;">
                            发帖
                        </span>
                        <br>
                        <input type="text" style="font-size:18px;padding:10px;vertical-align:top;width:100%;" placeholder="标题" id="title">
                        <br>
                        <div style="height:450px;font-size:18px;">
                            <div id="editor"></div>
                        </div>
                        <br>
                        <input type="text" style="font-size:18px;padding:10px;vertical-align:top;width:162px;" placeholder="验证码" id="captcha"><img width="120px" height="48px" alt="验证码" src="/captcha">
                        <br><br>
                        <a class="button sgoj-red" href="javascript:post_discuss()">发送</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 次掉6872 -->
    {% if t_canpost == 1 %}
    <script>
        var editor = new MarkdownPalettes('#editor');
        editor.content = ``;
        var forumname = '{{t_forum}}'
        function post_discuss(){
            var content = editor.content;
            var title = document.getElementById('title').value;
            var captcha = document.getElementById('captcha').value;
            $.post('/api/post_discuss',{'forum':forumname,'content':content,'title':title,'captcha':captcha},
            function(message){
                alert(message.message);
            });
        }
    </script>
    {% endif %}
</body>