<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SegonOJ - 主页</title>
    <link rel="stylesheet" type="text/css" href="/static/general/css/theme-SegonOJ-v1.0.0.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<script src="/static/board/js/markdown-palettes.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
    integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
    crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            // customised options
            // • auto-render specific keys, e.g.:
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
                { left: '\\(', right: '\\)', display: false },
                { left: '\\[', right: '\\]', display: true },
                { left: "\\begin{equation}", right: "\\end{equation}", display: true },
                { left: "\\begin{align}", right: "\\end{align}", display: true },
                { left: "\\begin{alignat}", right: "\\end{alignat}", display: true },
                { left: "\\begin{gather}", right: "\\end{gather}", display: true },
                { left: "\\begin{CD}", right: "\\end{CD}", display: true },
                { left: "\\[", right: "\\]", display: true }
            ],
            // • rendering keys, e.g.:
            throwOnError: false
        });
    });
    var now = 1, per_width = 400, tot = 3, intervalid;
    function StartSlide() {
        intervalid = setInterval(SlideNext, 5000);
    }
    function StopSlide() {
        clearInterval(intervalid);
    }
    function SlideNext() {
        if (now == tot) {
            SlideTo(1)
            now = 1;
            return;

        }
        now++;
        SlideTo(now);
    }
    function SlidePrev() {
        if (now == 1) {
            SlideTo(tot)
            now = tot;
            return;
        }
        now--;
        SlideTo(now);
    }
    function SlideTo(id) {
        document.getElementById('slider').style.transform = "translate3d(-" + id * per_width + "px,0px,0px)";
    }
    window.onload = StartSlide;
</script>

<body>
    <div class="app">
        <div>
            <nav style="background-color: #fff; width: 100%;">
                <div class="logo-long">
                    <span>
                        <a href="/">
                            <img src="/static/general/img/logo-long.png" alt="SegonOJ-Logo" height="72" width="221">
                        </a>

                    </span>
                </div>
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problem.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problemset.png" alt="problemset" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/ranks.png" alt="ranks" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon" href="/discuss">
                    <img src="/static/general/img/icon/discuss.png" alt="discuss" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/app.png" alt="setting" height="30" width="30">
                </a>
                {% if t_is_admin %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon" href="/webadmin">
                    <img src="/static/general/img/icon/admin.png" alt="admin" height="30" width="30">
                </a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if t_is_login %}
                <div class="user-info">
                    <span class="sgoj-{{t_usercolor}}">{{ t_username }}</span>
                    {% if t_userhavebadge == True %}
                    <span class="badge sgoj-{{t_usercolor}}">&nbsp;{{ t_userbadge }}&nbsp;</span>
                    {% endif %}
                </div>
                {% else %}
                <div class="user-info">
                    <a href="/login">登录</a>
                    &nbsp;/&nbsp;
                    <a href="/register">注册</a>
                </div>
                {% endif %}



            </nav>
        </div>
        <div class="main-container">

            <div class="app-main">
                <div class="index-content">
                    <br>
                    <div class="mod" style="height:auto;">

                        {% if t_is_login %}

                        <div style="display: inline-block; float: right;text-align: center;">
                            <div class="user-info">
                                <span class="sgoj-{{t_usercolor}}">{{ t_username }}</span>
                                {% if t_userhavebadge == True %}
                                <span class="badge sgoj-{{t_usercolor}}">&nbsp;{{ t_userbadge }}&nbsp;</span>
                                {% endif %}&nbsp;
                                <span style="color:blue;font-size: 24px;">的一天</span>
                            </div>
                            <br>
                            <table>
                                <tr>
                                    <td style="vertical-align: top;text-align: center;">
                                        <b>
                                            <div style="display: inline-block;line-height:22px;">
                                                <span style="font-size: 18px;">你今天刷了多少题？</span>
                                                <br>
                                                <span style="font-size: 18px;">你离目标还有多少？</span>
                                            </div>
                                            <br>
                                        </b>
                                        <br>
                                        <span> <span style="font-size: 36px;color:lime;">5</span> / 5</span>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <b><span>你的卷值有这么多</span></b>
                                        <br>
                                        <br>
                                        <span style="font-size: 36px;text-align: center;color:#FFC300">2022</span>
                                        <br>
                                        <sup style="float: right;color:#FA5151;">(-154)</sup>
                                        <br>
                                    </td>
                                </tr>
                            </table>

                            <a style="text-align: center;color:lime">查看你今天的运势>></a>
                        </div>

                        <div class="viewport" onmouseover="StopSlide()" onmouseout="StartSlide()">
                            <ul class="slider" style="transform: translate3d(-400px,0px,0px);transition-duration: .6s;"
                                id="slider">
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <div style="display: inline-block; float: right;text-align: center;font-size: 36px;">
                            请先登录
                        </div>
                        <div class="viewport" onmouseover="StopSlide()" onmouseout="StartSlide()">
                            <ul class="slider" style="transform: translate3d(-400px,0px,0px);transition-duration: .6s;"
                                id="slider">
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                                <li style="float: left;">
                                    <img src="/static/general/img/ad.png">
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>



                </div>

                <div class="index-content">
                    <div class="mod" style="height:auto;">
                        <table cellpadding="15px">
                            <tr>
                                <td>
                                    <span style="font-size:36px;">讨论</span> / Discuss
                                    <table cellpadding="10px">

                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title {{ t_lastdiscuss.A.forum }}">
                                                        <a style="color:white;text-align: left;"
                                                            href="/discuss/{{t_lastdiscuss.A.id}}">{{
                                                            t_lastdiscuss.A.title}}</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">{{ t_lastdiscuss.A.forumname
                                                                }}</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info" style="font-size:18px;">
                                                                <span class="sgoj-{{t_lastdiscuss.A.owner.color}}">{{
                                                                    t_lastdiscuss.A.owner.username }}</span>
                                                                {% if t_lastdiscuss.A.owner.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.A.owner.color}}">
                                                                    {{ t_lastdiscuss.A.owner.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span style="color:#666565;font-size:18px;">{{
                                                                t_lastdiscuss.A.content }}</span></span><br>
                                                        <span>回复&nbsp;<span style="color: #FF8F1F;font-size:18px;">{{
                                                                t_lastdiscuss.A.comments }}条</span></span><br>
                                                        <span>最新回复&nbsp;{% if t_lastdiscuss.A.comments == 0 %}
                                                            暂无回复
                                                            {% else %}

                                                            <div class="user-info" style="font-size:10px;">
                                                                <span
                                                                    class="sgoj-{{t_lastdiscuss.A.lastcommenter.color}}">{{
                                                                    t_lastdiscuss.A.lastcommenter.username }}</span>
                                                                {% if t_lastdiscuss.A.lastcommenter.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.A.lastcommenter.color}}">
                                                                    {{ t_lastdiscuss.A.lastcommenter.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>

                                                        {% endif %}</span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title {{ t_lastdiscuss.B.forum }}">
                                                        <a style="color:white;text-align: left;"
                                                            href="/discuss/{{t_lastdiscuss.B.id}}">{{
                                                            t_lastdiscuss.B.title}}</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">{{ t_lastdiscuss.B.forumname
                                                                }}</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info" style="font-size:18px;">
                                                                <span class="sgoj-{{t_lastdiscuss.B.owner.color}}">{{
                                                                    t_lastdiscuss.B.owner.username }}</span>
                                                                {% if t_lastdiscuss.B.owner.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.B.owner.color}}">
                                                                    {{ t_lastdiscuss.B.owner.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span style="color:#666565;font-size:18px;">{{
                                                                t_lastdiscuss.B.content }}</span></span><br>
                                                        <span>回复&nbsp;<span style="color: #FF8F1F;font-size:18px;">{{
                                                                t_lastdiscuss.B.comments }}条</span></span><br>
                                                        <span>最新回复&nbsp;{% if t_lastdiscuss.B.comments == 0 %}
                                                            暂无回复
                                                            {% else %}

                                                            <div class="user-info" style="font-size:10px;">
                                                                <span
                                                                    class="sgoj-{{t_lastdiscuss.B.lastcommenter.color}}">{{
                                                                    t_lastdiscuss.B.lastcommenter.username }}</span>
                                                                {% if t_lastdiscuss.B.lastcommenter.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.B.lastcommenter.color}}">
                                                                    {{ t_lastdiscuss.B.lastcommenter.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>

                                                        {% endif %}</span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title {{ t_lastdiscuss.C.forum }}">
                                                        <a style="color:white;text-align: left;"
                                                            href="/discuss/{{t_lastdiscuss.C.id}}">{{
                                                            t_lastdiscuss.C.title}}</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">{{ t_lastdiscuss.C.forumname
                                                                }}</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info" style="font-size:18px;">
                                                                <span class="sgoj-{{t_lastdiscuss.C.owner.color}}">{{
                                                                    t_lastdiscuss.C.owner.username }}</span>
                                                                {% if t_lastdiscuss.C.owner.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.C.owner.color}}">
                                                                    {{ t_lastdiscuss.C.owner.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span style="color:#666565;font-size:18px;">{{
                                                                t_lastdiscuss.C.content }}</span></span><br>
                                                        <span>回复&nbsp;<span style="color: #FF8F1F;font-size:18px;">{{
                                                                t_lastdiscuss.C.comments }}条</span></span><br>
                                                        <span>最新回复&nbsp;{% if t_lastdiscuss.C.comments == 0 %}
                                                            暂无回复
                                                            {% else %}

                                                            <div class="user-info" style="font-size:10px;">
                                                                <span
                                                                    class="sgoj-{{t_lastdiscuss.C.lastcommenter.color}}">{{
                                                                    t_lastdiscuss.C.lastcommenter.username }}</span>
                                                                {% if t_lastdiscuss.C.lastcommenter.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.C.lastcommenter.color}}">
                                                                    {{ t_lastdiscuss.C.lastcommenter.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>

                                                        {% endif %}</span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title {{ t_lastdiscuss.D.forum }}">
                                                        <a style="color:white;text-align: left;"
                                                            href="/discuss/{{t_lastdiscuss.D.id}}">{{
                                                            t_lastdiscuss.D.title}}</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">{{ t_lastdiscuss.D.forumname
                                                                }}</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info" style="font-size:18px;">
                                                                <span class="sgoj-{{t_lastdiscuss.D.owner.color}}">{{
                                                                    t_lastdiscuss.D.owner.username }}</span>
                                                                {% if t_lastdiscuss.D.owner.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.D.owner.color}}">
                                                                    {{ t_lastdiscuss.D.owner.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span style="color:#666565;font-size:18px;">{{
                                                                t_lastdiscuss.A.content }}</span></span><br>
                                                        <span>回复&nbsp;<span style="color: #FF8F1F;font-size:18px;">{{
                                                                t_lastdiscuss.A.comments }}条</span></span><br>
                                                        <span>最新回复&nbsp;{% if t_lastdiscuss.D.comments == 0 %}
                                                            暂无回复
                                                            {% else %}

                                                            <div class="user-info" style="font-size:10px;">
                                                                <span
                                                                    class="sgoj-{{t_lastdiscuss.D.lastcommenter.color}}">{{
                                                                    t_lastdiscuss.D.lastcommenter.username }}</span>
                                                                {% if t_lastdiscuss.D.lastcommenter.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.D.lastcommenter.color}}">
                                                                    {{ t_lastdiscuss.D.lastcommenter.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>

                                                        {% endif %}</span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title {{ t_lastdiscuss.E.forum }}">
                                                        <a style="color:white;text-align: left;"
                                                            href="/discuss/{{t_lastdiscuss.E.id}}">{{
                                                            t_lastdiscuss.E.title}}</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">{{ t_lastdiscuss.E.forumname
                                                                }}</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info" style="font-size:18px;">
                                                                <span class="sgoj-{{t_lastdiscuss.E.owner.color}}">{{
                                                                    t_lastdiscuss.E.owner.username }}</span>
                                                                {% if t_lastdiscuss.E.owner.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.E.owner.color}}">
                                                                    {{ t_lastdiscuss.E.owner.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span style="color:#666565;font-size:18px;">{{
                                                                t_lastdiscuss.E.content }}</span></span><br>
                                                        <span>回复&nbsp;<span style="color: #FF8F1F;font-size:18px;">{{
                                                                t_lastdiscuss.E.comments }}条</span></span><br>
                                                        <span>最新回复&nbsp;{% if t_lastdiscuss.E.comments == 0 %}
                                                            暂无回复
                                                            {% else %}

                                                            <div class="user-info" style="font-size:10px;">
                                                                <span
                                                                    class="sgoj-{{t_lastdiscuss.E.lastcommenter.color}}">{{
                                                                    t_lastdiscuss.E.lastcommenter.username }}</span>
                                                                {% if t_lastdiscuss.E.lastcommenter.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.E.lastcommenter.color}}">
                                                                    {{ t_lastdiscuss.E.lastcommenter.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>

                                                        {% endif %}</span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title {{ t_lastdiscuss.F.forum }}">
                                                        <a style="color:white;text-align: left;"
                                                            href="/discuss/{{t_lastdiscuss.F.id}}">{{
                                                            t_lastdiscuss.F.title}}</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">{{ t_lastdiscuss.F.forumname
                                                                }}</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info" style="font-size:18px;">
                                                                <span class="sgoj-{{t_lastdiscuss.F.owner.color}}">{{
                                                                    t_lastdiscuss.F.owner.username }}</span>
                                                                {% if t_lastdiscuss.F.owner.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.F.owner.color}}">
                                                                    {{ t_lastdiscuss.F.owner.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span style="color:#666565;font-size:18px;">{{
                                                                t_lastdiscuss.F.content }}</span></span><br>
                                                        <span>回复&nbsp;<span style="color: #FF8F1F;font-size:18px;">{{
                                                                t_lastdiscuss.F.comments }}条</span></span><br>
                                                        <span>最新回复&nbsp;{% if t_lastdiscuss.A.comments == 0 %}
                                                            暂无回复
                                                            {% else %}

                                                            <div class="user-info" style="font-size:10px;">
                                                                <span
                                                                    class="sgoj-{{t_lastdiscuss.F.lastcommenter.color}}">{{
                                                                    t_lastdiscuss.F.lastcommenter.username }}</span>
                                                                {% if t_lastdiscuss.F.lastcommenter.have_badge == 1 %}
                                                                <span
                                                                    class="badge sgoj-{{t_lastdiscuss.F.lastcommenter.color}}">
                                                                    {{ t_lastdiscuss.F.lastcommenter.userbadge }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </span>

                                                        {% endif %}</span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table cellpadding="10px">
                                        <span style="font-size:36px;">比赛</span> / Contest
                                        <tr>
                                            <td>

                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>

                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="index-content">
                    <div class="mod">
                        <span style="font-size:36px;">公告</span> / Announcements
                        <hr>
                        {% for item in t_announcements %}

                        <span>{{ item.title }} / {{ item.time }} / <span class="sgoj-{{item.usercolor}}"
                                style="font-size: 18px">{{ item.username }}</span>
                            {% if item.userhavebadge == True %}
                            <span class="badge sgoj-{{item.usercolor}}" style="font-size: 18px">&nbsp;{{ item.userbadge
                                }}&nbsp;</span>{% if item.sticky == 1 %}&nbsp;<span class="badge sgoj-red"
                                style="font-size: 18px;">&nbsp;置顶&nbsp;</span>{% endif %}
                            <hr>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>

                <div class="index-content">
                    <table style="width: 100%;">
                        <tr style="width: 100%;">
                            <td style="width: 40%; padding-right: 5%;">
                                <div class="mod" style="width: 100%;">
                                    <span style="font-size:36px; ">卷王榜</span> / Rank Topers
                                    <br>
                                    <div class="r-a">
                                        <span style="color: white;">#1</span>
                                        <b><span style="margin-left: 20%;">{{ t_ranktopers.top1.username }}</span>
                                            <span style="float: right;">{{ t_ranktopers.top1.juan }}</span></b>
                                    </div>
                                    <div class="r-b">
                                        <span style="color: white;">#2</span>
                                        <b><span style="margin-left: 20%;">{{ t_ranktopers.top2.username }}</span>
                                            <span style="float: right;">{{ t_ranktopers.top2.juan }}</span></b>
                                    </div>
                                    <div class="r-c">
                                        <span style="color: white;">#3</span>
                                        <b><span style="margin-left: 20%;">{{ t_ranktopers.top3.username }}</span>
                                            <span style="float: right;">{{ t_ranktopers.top3.juan }}</span></b>
                                    </div>
                                    <div class="r-d">
                                        <span>#4</span>
                                        <b><span style="margin-left: 20%;">{{ t_ranktopers.top4.username }}</span>
                                            <span style="float: right;">{{ t_ranktopers.top4.juan }}</span></b>
                                    </div>
                                    <div class="r-d">
                                        <span>#5</span>
                                        <b><span style="margin-left: 20%;">{{ t_ranktopers.top5.username }}</span>
                                            <span style="float: right;">{{ t_ranktopers.top5.juan }}</span></b>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 40%; padding-left: 5%;">
                                <div class="mod" style="width: 100%;">
                                    <span style="font-size:36px;">做题计划</span> / Problem planning
                                    <br><br>
                                    <div class="tmjh">
                                        <a style="margin-left: 20%;">SE0001&nbsp;三十年后的小杨</a>
                                        <span style="float: right;margin-right: 5%;"
                                            class="sgoj-ac">&nbsp;&nbsp;AC&nbsp;&nbsp;</span>
                                        <hr>
                                        <a style="margin-left: 20%;">SE0002&nbsp;rin AK IOI</a>
                                        <span style="float: right;margin-right: 5%;"
                                            class="sgoj-ac">&nbsp;&nbsp;AC&nbsp;&nbsp;</span>
                                        <hr>
                                        <a style="margin-left: 20%;">SE0003&nbsp;四十年后的6872</a>
                                        <span style="float: right;margin-right: 5%;"
                                            class="sgoj-ac">&nbsp;&nbsp;AC&nbsp;&nbsp;</span>
                                        <hr>
                                        <a class="sgoj-ac"
                                            style="font-size:18px;">&nbsp;&nbsp;显示已完成&nbsp;&nbsp;</a>&nbsp;<a
                                            class="sgoj-wa" style="font-size:18px;">&nbsp;&nbsp;隐藏已完成&nbsp;&nbsp;</a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="index-content">
                    <div class="footer">
                        <div style="display: inline-block;">
                            <br>
                            <img src="/static/general/img/logo-long.png" alt="SegonOJ-Logo" height="72" width="221"
                                style="margin-left: -10px;margin-top: -30px;">
                            <br>
                            <span>&lt;v1.0 in Test&gt;</span>
                            <br>
                            <span>Powered 2022, SegonOJ Develop Team.</span>
                            <br>
                            <span>Copyright © 2022 SegonOJ Develop Team. All rights reserved.</span>
                        </div>
                        <div style="display: inline-block; float: right">
                            <br>
                            <span>其他 Online Judge</span>
                            <br>
                            <span>
                                <a href="https://www.luogu.com.cn/">洛谷</a> | <a
                                    href="https://codeforces.com/">CodeForces</a> | <a
                                    href="https://atcoder.jp/">AtCoder</a> |
                                <br>
                                <a href="https://hydro.ac/">HydroOJ</a> | <a href="https://loj.ac/">LOJ</a> | <a
                                    href="https://vijos.org/">Vijos</a> | <a href="https://www.spoj.com/">SPOJ</a> |
                                <br>
                                <a href="https://onlinejudge.org/">UVA</a> | <a href="http://usaco.org/">USACO</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 次掉6872 -->
    <script>
        var c = 0, d = 0;
        function a(t) {
            if (t == 1) {
                d = 1;
                b(1);
            }
            if (t == 2) {
                setTimeout("b(2)", 1000);
            }
            if (t == 3) {
                c = 1;
                b(1);
            }
            if (t == 4) {
                c = 0;
                setTimeout("b(2)", 1000);
            }
        }
        function b(t) {
            if (t == 1 && d == 1) {
                document.getElementById("dropdown").style = "opacity: 1.0; display:block;";
            }
            if (t == 2) {
                if (c == 0) {
                    document.getElementById("dropdown").style = "opacity: 0.0;";
                    d = 0;
                }
            }
        }
        function jump(t) {
            window.location.href = t;
        }
        function htmlRestore(str) {
            var s = ``;
            if (str.length === 0) {
                return ``;
            }
            s = str.replace(/&amp;/g, "&");
            s = s.replace(/&lt;/g, "<");
            s = s.replace(/&gt;/g, ">");
            s = s.replace(/&nbsp;/g, " ");
            s = s.replace(/&#39;/g, "\'");
            s = s.replace(/&quot;/g, "\"");
            return s;
        }
    </script>
</body>