<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SegonOJ - 主页</title>
    <link rel="stylesheet" type="text/css" href="/static/general/css/theme-SegonOJ-v1.0.0.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<script src="/static/board/js/markdown-palettes.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true},
              {left: "\\begin{equation}", right: "\\end{equation}", display: true},
              {left: "\\begin{align}", right: "\\end{align}", display: true},
              {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
              {left: "\\begin{gather}", right: "\\end{gather}", display: true},
              {left: "\\begin{CD}", right: "\\end{CD}", display: true},
              {left: "\\[", right: "\\]", display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
<body>
    <div class="app">
        <div>
            <nav style="background-color: #fff; width: 100%;">
                <div class="logo-long">
                    <span>
                        <a href="/">
                            <img src="/static/general/img/logo-long.png" alt="SegonOJ-Logo" height="72" width="221">
                        </a>

                    </span>
                </div>
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problem.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problemset.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/ranks.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/discuss.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/app.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if t_user_login %}
                <div class="user-info">
                    <span class="sgoj-{{t_usercolor}}">{{ t_username }}</span>
                    {% if t_userhavebadge == True %}
                    <span class="badge sgoj-{{t_usercolor}}">&nbsp;{{ t_userbadge }}&nbsp;</span>
                    {% endif %}
                </div>
                {% else %}
                <div class="user-info">
                    <a href="/login">登录</a>
                    &nbsp;/&nbsp;
                    <a href="/register">注册</a>
                </div>
                {% endif %}



            </nav>
        </div>
        <div class="main-container">

            <div class="app-main">
                <div class="index-content">
                    <br>
                    <div class="mod" style="height:auto;">
                        <a><img src="/static/general/img/ad.png" style="border-radius:15px;" width="400px" height="200px"></a>
                        <div style="display: inline-block; float: right;text-align: center;">
                            <div class="user-info">
                                <span class="sgoj-purple">6872</span>
                                <span class="badge sgoj-purple">&nbsp;Sestt&nbsp;</span>
                            </div>
                            &nbsp;
                            <span style="color:blue;font-size: 24px;">的一天</span>

                            <br>
                            <table>
                                <tr>
                                    <td style="vertical-align: top;text-align: center;">
                                        <b>
                                            <div style="display: inline-block;line-height:22px;">
                                                <span style="font-size: 18px;">你今天刷了多少题？</span>
                                                <br>
                                                <span style="font-size: 18px;">你离目标还有多少？</span>
                                            </div>
                                            <br>
                                        </b>
                                        <table style="margin: 0 auto;">
                                            <img src="/static/general/img/icon/fg2.png" class="fg"
                                                style="top:235px;margin-left: -15px;">
                                            <tr>
                                                <td><span style="color:lime;font-size: 36px;">5</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>
                                                    <span style="color:gray;font-size: 24px;">5</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <b><span>你的卷值有这么多</span></b>
                                        <br>
                                        <span style="font-size: 36px;text-align: center;color:#FFC300">2022</span>
                                        <br>
                                        <span style="font-style:italic;float:right;color: #f00;">(-154)</span>
                                    </td>
                                </tr>
                            </table>
                            <a style="text-align: center;color:lime">查看你今天的运势>></a>
                        </div>
                    </div>
                </div>
                <div class="index-content">
                    <div class="mod" style="height:auto;">
                        <table cellpadding="15px">
                            <tr>
                                <td>
                                    <table cellpadding="10px">
                                        <span style="font-size:36px;">讨论</span> / Discuss
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span class="sgoj-red"
                                                                    style="font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span class="sgoj-orange"
                                                                    style="font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title fqb">
                                                        <a style="color:white;text-align: left;">举报 建议禁言</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">反馈版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span class="sgoj-green"
                                                                    style="font-size:18px;">2735abc</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">262620zzj 这个人wyytl</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">857857条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span class="sgoj-blue"
                                                                    style="font-size:18px;">Cindy姚</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title xsb">
                                                        <a style="color:white;text-align: left;">I AK IOI</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">学术版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span class="sgoj-purple"
                                                                    style="font-size:18px;">Caca_Condy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">我爱6872!</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">114514条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span class="sgoj-purple"
                                                                    style="font-size:18px;">小杨小小杨</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title zwb">
                                                        <a style="color:white;text-align: left;">玲酱可爱</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">站务版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">Apathy_Cui</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">玲酱怎么这么强而且可爱啊...</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">2022条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span class="sgoj-green"
                                                                    style="font-size:18px;">chenyuer</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title hsc">
                                                        <a style="color:white;text-align: left;">说句闲话</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">划水池</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span class="sgoj-green"
                                                                    style="font-size:18px;">西市骤雨</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">研究柯学的最好方式就是看...</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">998244353条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span class="sgoj-purple"
                                                                    style="font-size:18px;">6872</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title hsc">
                                                        <a style="color:white;text-align: left;">我要制裁极域</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">划水池</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span class="sgoj-green"
                                                                    style="font-size:18px;">sjr3065335594</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">消灭极域暴政，414属于gar...</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">407407条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span class="sgoj-purple"
                                                                    style="font-size:18px;">liucang</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table cellpadding="10px">
                                        <span style="font-size:36px;">比赛</span> / Contest
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                            &nbsp;&nbsp;
                                            <td>
                                                <div class="cell">
                                                    <div class="cell title tmzb">
                                                        <a style="color:white;text-align: left;">本地 AC 提...</a>
                                                        <span style="color:white;float: right;">in&nbsp;<a
                                                                style="color:#565656;">题目总版</a></span>
                                                    </div>
                                                    <div style="padding: 0px 15px 5px 15px;">
                                                        <span>楼主&nbsp;
                                                            <div class="user-info">
                                                                <span
                                                                    style="color: #FA5151;font-size:18px;">yyandy</span>
                                                            </div>
                                                        </span>
                                                        <br>
                                                        <span>内容&nbsp;<br><span
                                                                style="color:#666565;font-size:18px;">三十年后的小杨这题好难......</span></span><br>
                                                        <span>评论&nbsp;<span
                                                                style="color: #FF8F1F;font-size:18px;">32123条</span></span><br>
                                                        <span>最新评论&nbsp;<div class="user-info">
                                                                <span
                                                                    style="color: #FF8F1F;font-size:18px;">Hughpig</span>
                                                            </div></span><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 次掉6872 -->
    <script>
        var c = 0, d = 0;
        {% for item in t_notice %}
            {{item|safe}}
        {% endfor %}
        function a(t) {
            if (t == 1) {
                d = 1;
                b(1);
            }
            if (t == 2) {
                setTimeout("b(2)", 1000);
            }
            if (t == 3) {
                c = 1;
                b(1);
            }
            if (t == 4) {
                c = 0;
                setTimeout("b(2)", 1000);
            }
        }
        function b(t) {
            if (t == 1 && d == 1) {
                document.getElementById("dropdown").style = "opacity: 1.0; display:block;";
            }
            if (t == 2) {
                if (c == 0) {
                    document.getElementById("dropdown").style = "opacity: 0.0;";
                    d = 0;
                }
            }
        }
        function jump(t) {
            window.location.href = t;
        }
        function htmlRestore(str) {
            var s = ``;
            if (str.length === 0) {
                return ``;
            }
            s = str.replace(/&amp;/g, "&");
            s = s.replace(/&lt;/g, "<");
            s = s.replace(/&gt;/g, ">");
            s = s.replace(/&nbsp;/g, " ");
            s = s.replace(/&#39;/g, "\'");
            s = s.replace(/&quot;/g, "\"");
            return s;
        }
    </script>
</body>