<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑公告</title>
    <script src="/static/general/markdown/markdown-palettes.min.js"></script>
    <link rel="stylesheet" href="/static/general/markdown/markdown-palettes.css">
    <script src="/static/user/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/general/css/theme-SegonOJ-v1.0.0.css">
</head>
<body>
    <div style="height: 800px">
        <div id="editor"></div>
    </div>
    <button onclick="submit()">submit</button>
    <script>
        var editor = new MarkdownPalettes('#editor');
        editor.content = '{{ t_notice }}';
        function submit(){
            $.post('/edit', {
                'type': 'notice',
                'content': editor.content
            }, function(message){
                if(message.code == '0'){
                    alert('提交成功');
                    window.location.href='/';
                }
                if(message.code == '1'){
                    alert('你有权限吗你，啊？');
                }
            });
        }
    </script>
</body>
</html>
