<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SegonOJ - 注册</title>
    <link rel="stylesheet" type="text/css" href="/static/general/css/theme-SegonOJ-v1.0.0.css">
    <script src="/static/user/js/jquery-3.3.1.min.js"></script>
    <script src="/static/user/js/md5.js"></script>
</head>

<body>
    <div class="app">
        <div>
            <nav style="background-color: #fff;">


                <a href="/">
                    <div class="logo">
                        <img src="/static/general/img/logo.png" alt="SegonOJ-Logo" width="72px" height="72px">
                    </div>
                </a>
                <br>
                <a class="nav-s">题目</a>
                <br>
                <a class="nav-s">题单</a>
                <br>
                <a class="nav-s">比赛</a>
                <br>
                <a class="nav-s">团队</a>
                <br>
                <a class="nav-s">讨论</a>
                <br>
                <a class="nav-s">排名</a>
                <br>
                <a class="nav-s">插件</a>
                <br>
                <a class="nav-s">应用</a>
                <br>
            </nav>
        </div>
        <div class="main-container">
            <div class="app-main">
                <div class="index-content">
                    <div class="registerbox">
                        {% if t_found == True %}
                        <br><br>
                        <h3>注册</h3>
                        <br><br>
                        <input type="text" id="username" placeholder="用户名" class="registerinput">
                        <br><br>
                        <input type="password" id="password" placeholder="密码" class="registerinput">
                        <br><br>
                        <button class="submit login" id="submit">注册</button>
                        <br>
                        {% else %}
                        {{ t_message }}
                        <br><br>
                        <h3>发送验证邮箱</h3>
                        <br><br>
                        <input type="text" id="email" placeholder="邮箱" class="registerinput">
                        <br><br>
                        <button class="submit login" id="register">获取注册链接</button>
                        <br>
                        <br>
                        <h5>已有账号？<a href="/login">登录</a></h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if t_found == False %}
        <script>
            document.getElementById("register").onclick=function(){
                $.post("/register_send",{"email": document.getElementById("email").value},function(message){
                    if(message.code=='0'){
                        alert("发送成功！请查看邮箱")
                    }
                    if(message.code=='2'||message.code=='-1'){
                        alert("此邮箱已被使用！")
                    }
                    if(message.code=='3'){
                        alert("发验证码太急了吧...")
                    }
                }
                )
            }
        </script>
        {% else %}
        <script>
            email = '{{t_email}}'
            verify_code = '{{t_verify_code}}'
            document.getElementById("submit").onclick=function(){
                $.post("/register_check",{"username": document.getElementById('username').value, "password": md5(document.getElementById('password').value), "email": email, "verify_code": verify_code},
                    function(message){
                        if(message.code=='0'){
                            alert("注册成功！");
                            window.location.href="/login";
                        }
                        if(message.code=='-1'){
                            alert("用户名不能为空！");
                        }
                        if(message.code=='1'){
                            alert("邮箱验证错误！");
                        }
                        if(message.code=='2'){
                            alert("用户名不能包含特殊字符！");
                        }
                        if(message.code=='3'){
                            alert("用户名已被占用！");
                        }
                    }
                )
            }
        </script>
        {% endif %}
</body>

</html>
