<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SegonOJ - 注册</title>
    <link rel="stylesheet" type="text/css" href="/static/general/css/theme-SegonOJ-v1.0.0.css">
    <script src="/static/user/js/jquery-3.3.1.min.js"></script>
    <script src="/static/user/js/md5.js"></script>
</head>

<body>
    <div class="app">
        <div>
            <nav style="background-color: #fff; width: 100%;">
                <div class="logo-long">
                    <span>
                        <a href="/">
                            <img src="/static/general/img/logo-long.png" alt="SegonOJ-Logo" height="72" width="221">
                        </a>

                    </span>
                </div>
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problem.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/problemset.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/ranks.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/discuss.png" alt="problem" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon">
                    <img src="/static/general/img/icon/app.png" alt="problem" height="30" width="30">
                </a>
                {% if t_is_admin %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/static/general/img/icon/fg.png" height="45" width="27" class="fg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="top-icon" href="/webadmin">
                    <img src="/static/general/img/icon/admin.png" alt="admin" height="30" width="30">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="user-info">
                    <a href="/login">登录</a>
                    &nbsp;/&nbsp;
                    <a href="/register">注册</a>
                </div>
            </nav>
        </div>
        <div class="main-container">
            <div class="app-main">
                <div class="index-content">
                    <div class="registerbox">
                        {% if t_found == True %}
                        <br><br>
                        <h3>注册</h3>
                        <br><br>
                        <input type="text" id="username" placeholder="用户名" class="registerinput">
                        <br><br>
                        <input type="password" id="password" placeholder="密码" class="registerinput">
                        <br><br>
                        <input type="text" id="rcode" placeholder="授权码" class="registerinput">
                        <br><br>
                        <button class="submit login" id="submit">注册</button>
                        <br>
                        {% else %}
                        {{ t_message }}
                        <br><br>
                        <h3>发送验证邮箱</h3>
                        <br><br>
                        <input type="text" id="email" placeholder="邮箱" class="registerinput">
                        <br><br>
                        <button class="submit login" id="register">获取注册链接</button>
                        <br>
                        <br>
                        <h5>已有账号？<a href="/login">登录</a></h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if t_found == False %}
        <script>
            document.getElementById("register").onclick=function(){
                $.post("/api/register_send",{"email": document.getElementById("email").value},function(message){
                    alert(message.message);
                }
                )
            }
        </script>
        {% else %}
        <script>
            email = '{{t_email}}'
            verify_code = '{{t_verify_code}}'
            document.getElementById("submit").onclick=function(){
                $.post("/api/register_check",{"username": document.getElementById('username').value, "password": document.getElementById('password').value, "email": email, "verify_code": verify_code, "rcode":document.getElementById('rcode').value},
                    function(message){
                        alert(message.message);
                        if(message.status==200){
                            window.location.href="/login";
                        }
                    }
                )
            }
        </script>
        {% endif %}
</body>

</html>
